## This file allows to join the different accounts of a same person.
## Cf for instance: git shortlog -nse. More details via: man git shortlog

Pierre-Marie Pédrot <pierre-marie.pedrot@inria.fr> ppedrot <ppedrot@7194d10d-a3ed-4628-aea2-7b4a0dfde000>
Jean-Marie Madiot <jm@madiot.org> jmadiot <jmadiot@7194d10d-a3ed-4628-aea2-7b4a0dfde000>
Guillaume Allais <guillaume.allais@ens-lyon.org> gallais <gallais@7194d10d-a3ed-4628-aea2-7b4a0dfde000>
Hugo Férée <hugo.feree@gmail.com> hferee <hferee@7194d10d-a3ed-4628-aea2-7b4a0dfde000>
Marthe Bonamy <marthe.bonamy@gmail.com> mbonamy <mbonamy@7194d10d-a3ed-4628-aea2-7b4a0dfde000>
Marc Lasson <marc.lasson@gmail.com> mlasson <mlasson@7194d10d-a3ed-4628-aea2-7b4a0dfde000>
Sylvain Dailler <sylvain.dailler@gmail.com> sdailler <sdailler@7194d10d-a3ed-4628-aea2-7b4a0dfde000>
